.t2-maindiv{
    background-image:url("./congrats-card-bg.png");
    height: 100vh;
}
.greet{
    text-align: center;
    
}
.backGround{
    text-align: center;
    background-color: aqua;
    width: 400px;
    margin: 0 auto;
    padding: 15px;
}
.img1{
    border-radius: 50px;
    height: 150px;
    width:150px
}